<link href="/style.css" rel="stylesheet">

<!------ Include the above in your HEAD tag ---------->
<div class="container">
    <table class="table">
    <thead>
    <tr>
    <th scope="col">#</th>
    <th scope="col">First</th>
    <th scope="col">Last</th>
    <th scope="col">Email</th>
    <th scope="col">Subject</th>
    <th scope="col">Message</th>
    </tr>
    </thead>
    <tbody>
        <% for(var i=0; i<contacts.length; i++) {%>
    <tr>
    <td><%= i+1 %></td>
    <td><%= contacts[i].firstName %></td>
    <td><%= contacts[i].lastName %></td>
    <td><%= contacts[i].emailAddress %></td>
    <td><%= contacts[i].subjectSelect %></td>
    <td><%= contacts[i].longMessage %></td>
    </tr>
    <% } %>
    </tbody>
    </table>
    </div>
    
    <br>
    <br>
<div class="container">
	<form class="well span8" method="POST", action="/saveContact">
        <div class="row">
            <div class="span3">
                <label>First Name</label> <input class="span3" placeholder=
                "Your First Name" type="text" name="firstName"> <label>Last Name</label>
                <input class="span3" placeholder="Your Last Name" type="text" name="lastName">
                <label>Email Address</label> <input class="span3" placeholder=
                "Your email address" type="text" name="emailAddress"> <label>Subject</label>
                <select class="span3" id="subject" name="subjectSelect">
                    <option selected value="na">
                        Choose One:
                    </option>
    
                    <option value="service">
                        General Customer Service
                    </option>
    
                    <option value="suggestions">
                        Suggestions
                    </option>
    
                    <option value="product">
                        Product Support
                    </option>
                </select>
            </div>
    
            <div class="span5">
                <label>Message</label> 
                <textarea class="input-xlarge span5" id="message" name="longMessage"
                rows="10">
                </textarea>
            </div><button class="btn btn-primary pull-right" type=
            "submit">Send</button>
        </div>
    </form>
</div>